<!DOCTYPE html>
<head>
  <title>Dave Test</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>This is a Dave Test</h1>
  </header>
  <div class="main">
    <h2>Part Dave Test</h2>
    Homepage

      </div>
</body>
