<!DOCTYPE html>

<head>
    <title>HomePage</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />

</head>

<body>
    <header>
        <h1>Exercises</h1>
    </header>
    <div class="main">
        <div class=questions-title>Individual Questions</div>
        <div class="box-questions">
                <div class = "question-item">
                    <a href='/question1'class="question-link">Question 1</a>
                </div>
                <div class = "question-item">
                    <a href='/question2'class="question-link">Question 2</a>
                </div>
                <div class = "question-item">
                    <a href='/question3'class="question-link">Question 3</a>
                </div>
                <div class = "question-item">
                    <a href='/question4'class="question-link">Question 4</a>
                </div>
                <div class = "question-item">
                    <a href='/question5'class="question-link">Question 5</a>
                </div>
                <div class = "question-item">
                    <a href='/question6'class="question-link">Question 6</a>
                </div>
                <div class = "question-item">
                    <a href='/question7'class="question-link">Question 7</a>
                </div>

                <div class = "question-item">
                    <a href='/question8'class="question-link">Question 8</a>
                </div>
                <div class = "question-item">
                    <a href='/question9'class="question-link">Question 9</a>
                </div>
                <div class = "question-item">
                    <a href='/question10'class="question-link">Question 10</a>
                </div>


        </div>

    </div>
</body>