<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="./css/testsitestyles.css" />

</head>

<body>
    <nav class="nav">
        <div class="nav-outer-flex">
            <div class="img-col">
                <a href="#">
                <img src="imgs/logo.svg" class="logo" alt="logo icon">
                </a>
            </div>
        </div>
       
        <div class="links-col">
            <a class="styled_link" href="#mid-cards">Features</a>
            <a class="styled_link" href="#middle-text-box">Advantages</a>
            <a class="styled_link" href="#gallery">Gallery</a>
            <div class="Products-drop-down">
                <a class="styled_link">Products</a>
                <div class="revealed_menu">
                    <ul class="individual_list">
                        <li> <a class= "dropdpown_link" href="https://www.spacex.com/falcon9">Falcon 9</a>
                        </li>
                        <li> <a class= "dropdpown_link" href="https://www.tesla.com/en_ca/models">Model S</a>
                        </li>
                        <li> <a class= "dropdpown_link" href="https://www.apple.com/ca/iphone/">iPhone</a>
                        </li>

                        </ul>
                    </div>
            </div>            
        </div>
        
        <div class="hamburger_menu">


            <div class="col1">

                <a href="#"><img src="imgs/logo.svg" class="hamburger-menu-infinity-logo" alt="logo icon"> </a>
            </div>
            
            <div class="col2">
            </div>
                
            <div class="col3">
                <a class="hamburger-image-link" href="#">    </a>             
                <img src="imgs/menu.svg" alt="">
                    
                <div class="hamburger-revealed_menu">
                    <div class="ham-rev-item"><a class="dropdpown_link" href="#mid-cards">Features</a>
                    </div>
                    <div class="ham-rev-item">
                        <a class="dropdpown_link" href="#middle-text-box">Advantages</a>
            

                    </div>
                    <div class="ham-rev-item">
                        <a class="dropdpown_link" href="#gallery">Gallery</a>

                    </div>
                </div>

            </div>

        </div>
    </nav>
    <main>
        <div class="top-hero">
            <div class="outer-flex">
                <div class="title-col">
                    <h1>Introducing Falcon 9</h1>
                </div>
                <div class="title-col2">
                    <div class="subtitle-row">
                        <h2>We make dreams come true</h2>
                    </div>


                    <div class="detail-row">
                    <div class="detail-col">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam. 
                        </p>
                    </div>
                    <div class="detail-col">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam.
                        </p>
                        </div>

                    </div>
                </div>

            </div>
        </div> 

        <div id="mid-cards">
            <div class="cards-row">
                <div class="card">
                    <img src="imgs/icon1.svg" alt="checkmark">
                    <h3>Amazing feature 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet.</p>
                    <button class="card-button">Get it</button>

                </div>

                <div class="card">
                    <img src="imgs/icon2.svg" alt="arrows">
                    <h3>Amazing feature 2</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <button class="card-button">Sell it</button>

                </div>

                <div class="card">
                    <img src="imgs/icon3.svg" alt="fingerprint">
                    <h3>Amazing feature 3</h3>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button class="card-button">Do it</button>

                </div>
            </div>
        </div>
        
        <div id="middle-text-box">
            <h1>Some cool text</h1>
            
            <p class="middle-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <div class="floating-box">
                <p class= "title">This looks cool</p>
                <p class="middle-text"> Hover me if you like random animation</p>
            </div>

        </div>
        

        <div class="gradient-box">
            <h1>Slick gradient</h1>            
            <p class="middle-text">Lorem Ipsum?</p>
    
        </div>


        <div id="gallery">
        <div class="image-row">
                <div class="image-column">
                     <div class="imagetext"> 
                            Our flagship car: The Model S						
                        </div>

                    <div class="image-holder image1"></div>
                </div>
                <div class="image-column">
                    <div class="imagetext">
                           Cool Cat						
                       </div>


                   <div class="image-holder image2"></div>

             </div>
             <div class="image-column">
                <div class="imagetext">
                       Introducing the Hyperloop						
                   </div>


               <div class="image-holder image3"></div>

         </div>

         <div class="image-column">
            <div class="imagetext">
                   So Sneaky						
               </div>
           <div class="image-holder image4"></div>
       </div>
       <div class="image-column">
           <div class="imagetext">
                  BFR - Big Falcon Rocket						
              </div>
          <div class="image-holder image5"></div>
    </div>
    <div class="image-column">
       <div class="imagetext">
              So Much Fun						
          </div>


      <div class="image-holder image6"></div>

   </div>

        </div>  
    </div>
        <div class="Register-large">
            <div class="Register-flex">
                Register to our mailing list
                
                

                <form class="form-wrapper">
                    <input type="email" required>   
                    <button type="submit">
                        <img class ="sumbit-btn-img" src="/imgs/send.svg" alt="submit" />
                    </button>
                    
                    
                </form>


                <div class="cat-checkbox-div">
        
                   
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="send-cat">
                        <div class="send-text"> Send me daily cat images </div>
                        

                   
                </div>


        
            </div>
        </div>

        <div class="bottom-menu">

            <div class="bottom-row">
                <div class="bottom-col">
                    <p>About Us</p>
                    <p>Privacy Policy</p>
                    <p>Legal Notes</p>
                    <p>Copyright</p>
                </div>
                <div class="bottom-col">
                    <p>About Us</p>
                    <p>Privacy Policy</p>
                    <p>Legal Notes</p>
                    <p>Copyright</p>
                </div>
                <div class="bottom-col">
                    <p>About Us</p>
                    <p>Privacy Policy</p>
                    <p>Legal Notes</p>
                    <p>Copyright</p>
                </div>
                <div class="bottom-col">
                    <p>About Us</p>
                    <p>Privacy Policy</p>
                    <p>Legal Notes</p>
                    <p>Copyright</p>
                </div>


            </div>

        </div>

    </main>
</body>

</html>